{% extends "base.html.twig" %}

{% block title %}Laba 5 Zasypkina{% endblock %}

{% block header %}
    {% include "header.html.twig" %}
{% endblock %}

{% block content %}
    <section class="setka">
        <div class="container">
            <div class="setka__inner">
                <div class="setka__header">
                    <h2 class="setka__header__title">Service</h2>
                    <h5 class="setka__header-subtitle">At our digital marketing agency, we offer a range of services to help businesses grow and succeed online. These services include:</h5>
                </div>
                <div class="gallery__cards">
                    <div class="linia-card">
                        <div class="card_1">
                            <div class="card__content">
                                <h3 class="pod_1">Search engine</h3>
                                <h3 class="pod_2">optimization</h3>
                                <div class="link">
                                    <img class="link_c" src="images/sstrela.svg" alt="strellka">
                                    <a class="more">Learn more</a>
                                </div>
                            </div>
                            <img class="c1" src="images/kart1.png" alt="c1">
                        </div>
                        <div class="card_2">
                            <div class="card__content-2">
                                <h3 class="pod_3">Pay-per-click</h3>
                                <h3 class="pod_4">advertising</h3>
                                <div class="link">
                                    <img class="link_c" src="images/sstrela.svg" alt="strellka">
                                    <a class="more">Learn more</a>
                                </div>
                            </div>
                            <img class="c1" src="images/kart2.png" alt="c1">
                        </div>
                    </div>
                    <div class="linia-card">
                        <div class="card_3">
                            <div class="card__content">
                                <h3 class="pod_5">Social Media</h3>
                                <h3 class="pod_6">Marketing</h3>
                                <div class="link">
                                    <img class="link_c" src="images/strela1.svg" alt="strellka">
                                    <a class="more-3">Learn more</a>
                                </div>
                            </div>
                            <img class="c1" src="images/kart3.png" alt="c1">
                        </div>
                        <div class="card_1">
                            <div class="card__content-2">
                                <h3 class="pod_7">Email</h3>
                                <h3 class="pod_8">Marketing</h3>
                                <div class="link">
                                    <img class="link_c" src="images/sstrela.svg" alt="strellka">
                                    <a class="more">Learn more</a>
                                </div>
                            </div>
                            <img class="c1" src="images/kart4.png" alt="c1">
                        </div>
                    </div>
                    <div class="linia-card">
                        <div class="card_5">
                            <div class="card__content">
                                <h3 class="pod_9">Content</h3>
                                <h3 class="pod_10">Creation</h3>
                                <div class="link">
                                    <img class="link_c" src="images/sstrela.svg" alt="strellka">
                                    <a class="more">Learn more</a>
                                </div>
                            </div>
                            <img class="c1" src="images/kart5.png" alt="c1">
                        </div>
                        <div class="card_3">
                            <div class="card__content-2">
                                <h3 class="pod_11">Analytics and </h3>
                                <h3 class="pod_12">Tracking</h3>
                                <div class="link">
                                    <img class="link_c" src="images/strela1.svg" alt="strellka">
                                    <a class="more-3">Learn more</a>
                                </div>
                            </div>
                            <img class="c1" src="images/kart6.png" alt="c1">
                        </div>
                    </div>
                </div>
            </div>
            <div class="pod__gallery">
                <div class="gall_inner">
                    <div class="pod__gallery-info">
                        <div class="pod__gallery_content-text">
                            <h3 class="pod_g">Let's make things happen</h3>
                            <p class="pod_g_pod">Contact us today to learn more about how our digital marketing services can help your business grow and succeed online.</p>
                            <a class="gallery_content-button" href="#">Get your free proposal</a>
                        </div>
                    </div>
                    <img class="podpod__image" src="images/pod_voprosom.png" alt="second image">
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block footer %}
    {% include "footer.html.twig" %}
{% endblock %}