body {
    background-color: #FFFFFF;
    font-family: "Space Grotesk", sans-serif;
    font-size: 18px;
    font-weight: normal;
    letter-spacing: 0%;
    color: #000000;
}

.container {
    max-width: 1365px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0px 70px 0px;
}

.header__top {
    background-color: #FFFFFF;
    width: 100%;
    height: 100px;
}

.header__top-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
}

.logo {
    width: 220px;
    height: 68px;
    margin: 6px 0;
    padding: 10px 0;
}

.logo__image {
    width: 36px;
    height: 36px;
}

.logo__text {
    font-size: 40px;
    font-weight: 600;
    color: #000000;
}

.logo__link {
    display: flex;
    align-items: center;
    gap: 13px;
}

.header__navigation{
    width: 70%;
}

.header__navigation-list {
    display:flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.header__navigation-item {
    padding: 20px 0;
}

.header__navigation-link {
    color: #000000;
    font-size: 20px;
}

.header__content {
    margin: 70px 0 0 0;
}

.header__content-inner {
    display: flex;
    align-items: center;
    gap: 109px;
}

.header__content-info {
    display: flex;
    flex-direction: column;
}

.header__content-text {
    display: flex;
    flex-direction: column;
    gap: 35px;
    padding: 0 109px 0 0;
}

.header__content-title {
    display: flex; 
    align-items: center;
    font-size: 60px;
    font-weight: 500;
    height: 231px;
    width: 531px
}

.header__content-subtitle {
    font-size: 20px;
    height: 112px;
    width: 498px;
}

.header__content-button {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    padding: 20px 35px;
    height: 68px;
    width: 100%;
    max-width: 264px;
    display: block;
    color: #FFFFFF;
    background-color: #191A23;
    border-radius: 14px;
}

.company {
    filter: grayscale(100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo__com_image {
    max-width: 1440px;
    margin-right: 95px;
    justify-content: space-between;
    align-items: center;
    padding: auto;
}

.setka__header__title {
    font-size: 40px;
    border-radius: 7px;
    background-color: #B9FF66;
    color:#000000;
    text-align: center;
    font-weight: 500;
    display: block;
    width: 178px;
    height: 51px;
}

.setka__inner {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.setka__header {
    gap: 40px;
    display: flex;
    flex-direction: row;
}

.container_h {
    max-width: 1365px;
    width: 100%;
    margin: 0 auto;
    padding: 70px 0px 80px 0px
}

.setka__header-subtitle {
    position: relative;
    height: 46px;
    width: 580px;
}

.gallery__cards {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.card_1 {
    width: 600px;
    height: 310px;
    background-color: #F3F3F3;
    border-radius: 45px;
    border-color: black;
    border: 1px solid #191A23;
    display: flex;
    gap: 70px;
    box-shadow: 0px 4px #191A23;
}

.pod_1 {
    font-weight: 500;
    font-size: 30px;
    background-color: #B9FF66;
    color:#000000;
    border-radius: 7px;
    text-align: center;
    display: block;
    width: 221px;
    height: 38px;
}

.pod_2 {
    font-weight: 500;
    font-size: 30px;
    background-color: #B9FF66;
    color:#000000;
    text-align: center;
    border-radius: 7px;
    display: block;
    width: 197px;
    height: 38px;
}

.card__content {
    padding: 50px 0 0 50px;
    gap: 93px;
}

.c1 {
    justify-content: flex-end;
    width: 210px;
    height: 170px;
    float:right;
    margin: 70px 50px 0 0;
}

.link {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-top: 93px;
}

.link_c {
    width: 41px;
    height: 41px;
}

.linia-card {
    gap: 40px;
    display: flex;
    flex-direction: row;
}

.card__content-2 {
    padding: 50px 0 0 50px;
    gap: 93px;
}

.card_2 {
    width: 600px;
    height: 310px;
    background-color: #B9FF66;
    border-radius: 45px;
    border-color: black;
    border: 1px solid #191A23;
    display: flex;
    gap: 70px;
    box-shadow: 0px 4px #191A23;
}

.pod_3 {
    font-weight: 500;
    font-size: 30px;
    background-color: #ffffff;
    color:#000000;
    border-radius: 7px;
    text-align: center;
    display: block;
    width: 209px;
    height: 38px;
}

.pod_4 {
    font-weight: 500;
    font-size: 30px;
    background-color: #ffffff;
    color:#000000;
    text-align: center;
    border-radius: 7px;
    display: block;
    width: 178px;
    height: 38px;
}

.card_3 {
    width: 600px;
    height: 310px;
    background-color: #191A23;
    border-radius: 45px;
    border-color: black;
    border: 1px solid #191A23;
    display: flex;
    gap: 70px;
    box-shadow: 0px 4px #191A23;
}

.more-3 {
    font-size: 20px;
    color:#FFFFFF;
}

.more {
    font-size: 20px;
}

.pod_5 {
    font-weight: 500;
    font-size: 30px;
    background-color: #ffffff;
    color:#000000;
    border-radius: 7px;
    text-align: center;
    display: block;
    width: 197px;
    height: 38px;
}

.pod_6 {
    font-weight: 500;
    font-size: 30px;
    background-color: #ffffff;
    color:#000000;
    text-align: center;
    border-radius: 7px;
    display: block;
    width: 161px;
    height: 38px;
}

.pod_7 {
    font-weight: 500;
    font-size: 30px;
    background-color: #B9FF66;
    color:#000000;
    border-radius: 7px;
    text-align: center;
    display: block;
    width: 90px;
    height: 38px;
}

.pod_8 {
    font-weight: 500;
    font-size: 30px;
    background-color: #B9FF66;
    color:#000000;
    text-align: center;
    border-radius: 7px;
    display: block;
    width: 161px;
    height: 38px;
}

.card_5 {
    width: 600px;
    height: 310px;
    background-color: #B9FF66;
    border-radius: 45px;
    border-color: black;
    border: 1px solid #191A23;
    display: flex;
    gap: 70px;
    box-shadow: 0px 4px #191A23;
}

.pod_9 {
    font-weight: 500;
    font-size: 30px;
    background-color: #ffffff;
    color:#000000;
    border-radius: 7px;
    text-align: center;
    display: block;
    width: 133px;
    height: 38px;
}

.pod_10 {
    font-weight: 500;
    font-size: 30px;
    background-color: #FFFFFF;
    color:#000000;
    text-align: center;
    border-radius: 7px;
    display: block;
    width: 137px;
    height: 38px;
}

.pod_11 {
    font-weight: 500;
    font-size: 30px;
    background-color: #B9FF66;
    color:#000000;
    border-radius: 7px;
    text-align: center;
    display: block;
    width: 213px;
    height: 38px;
}

.pod_12 {
    font-weight: 500;
    font-size: 30px;
    background-color: #B9FF66;
    color:#000000;
    text-align: center;
    border-radius: 7px;
    display: block;
    width: 138px;
    height: 38px;
}

.gall_inner {
    display: flex;
    align-items: center;
    margin: 100px 0 0 0;
    background-color: #F3F3F3;
    border-radius: 45px;
    max-width: 1240px;
    height: 347px;
}

.pod__gallery_content-text {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

.pod_g {
    font-size: 30px;
    font-weight: 500;
}

.pod_g_pod {
    width: 500px;
    height:69px;
}

.pod__gallery-info {
    display: flex;
    flex-direction: column;
    padding: 60px 186px 60px 60px;
}
.podpod__image {
    width: 494px;
    height: 394px;
    padding-right: 0px;
}

.gallery_content-button {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    padding: 20px 35px;
    height: 68px;
    width: 100%;
    max-width: 288px;
    display: block;
    color: #FFFFFF;
    background-color: #191A23;
    border-radius: 14px;
}

.spissok__header__title {
    font-size: 40px;
    border-radius: 7px;
    background-color: #B9FF66;
    color:#000000;
    text-align: center;
    font-weight: 500;
    display: block;
    width: 412px;
    height: 51px;
}

.spissok__inner {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.spissok__header {
    gap: 40px;
    display: flex;
    flex-direction: row;
}

.spissok__header-subtitle {
    position: relative;
    height: 46px;
    width: 292px;
}

.karta__header__title {
    font-size: 40px;
    border-radius: 7px;
    background-color: #B9FF66;
    color:#000000;
    text-align: center;
    font-weight: 500;
    display: block;
    width: 265px;
    height: 51px;
}

.karta__inner {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.karta__header {
    gap: 40px;
    display: flex;
    flex-direction: row;
}

.karta__header-subtitle {
    position: relative;
    height: 46px;
    width: 580px;
}

.karta_content {
    width: 1234px;
    height: 326px;
    border-radius: 45px;
    background-color: #191A23;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    gap: 128px;
    padding: 70px 60px 70px 60px;
}

.column-1 {
    width: 286px;
    height: 163px;
    gap: 20px;
}

.column1 {
    font-weight: 300;
    width: 286px;
    height: 115px;
}

.more-k {
    color:#B9FF66;
}

.column-2 {
    width: 286px;
    height: 163px;
}

.column2 {
    font-weight: 300;
    width: 286px;
    height: 115px;
}

.column-3 {
    width: 286px;
    height: 186px;
}

.column3 {
    font-weight: 300;
    width: 286px;
    height: 138px;
}

.link-k {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
    padding-top: 20px;
}

.spisok_big {
    padding: 80px 0 0 0;
}

.spisok_first-inner {
    display: flex;
    align-items: center;
    gap: 357px;
    padding: 0 0 30px 0;
}
    

.spisok_second-inner {
    padding: 0 0 30px 0;
}

.spisok_first {
    width: 1234px;
    height: 279px;
    background-color: #B9FF66;
    border-radius: 45px;
    border-color: black;
    border: 1px solid #191A23;
    display: flex;
    box-shadow: 0px 4px #191A23;
}

.spisok_first_content {
    width: 1117px;
    height: 197px;
    margin: 41px 57px 60px 60px;
}

.linia_spiska {
    width: 1117px;
    height: 77px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.odna_linia {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 357px;
}

.odna_linia-2 {
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 347px;
}

.minus-image {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 58px;
    margin-left: 357px;
}

.number {
    font-size: 60px;
    font-weight: 500;
    width: 65px;
    height: 77px;
}

.pod_number {
    padding-top: 19.5px;
    font-size: 30px;
    font-weight: 500;
    width: 612px;
    height: 38px;
}

.plus-minus-image {
    margin-top: 5px;
    margin-bottom: 5px;
    width: 58px;
    margin-left: 347px;
}

.podpis {
    width: 1114px;
    height: 60px;
    margin: 60px 60px 41px 0px;
    font-size: 18px;
}

.spisok_second {
    width: 1234px;
    height: 150x;
    background-color: #F3F3F3;
    border-radius: 45px;
    border-color: black;
    border: 1px solid #191A23;
    display: flex;
    box-shadow: 0px 4px #191A23;
}

.spisok_second_content {
    width: 1117px;
    height: 68px;
    margin: 41px 57px 60px 60px;
}

.linia_spiska-2 {
    width: 1117px;
    height: 68px;
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.pod_number-2 {
    padding-top: 19.5px;
    font-size: 30px;
    font-weight: 500;
    width: 612px;
    height: 38px;
}

.malenkaya_setka__title {
    font-size: 40px;
    border-radius: 7px;
    background-color: #B9FF66;
    color:#000000;
    text-align: center;
    font-weight: 500;
    display: block;
    width: 115px;
    height: 51px;
}

.malenkaya_setka-inner {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.malenkaya_setka__header {
    gap: 40px;
    display: flex;
    flex-direction: row;
}

.malenkaya_setka-subtitle {
    position: relative;
    height: 46px;
    width: 580px;
}

.gallery__setka {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}

.linia-setka {
    display: flex;
    flex-direction: row;
    height: 331px;
    gap: 40px;
}

.setochka-1 {
    width: 387px;
    height: 331px;
    background-color: #ffffff;
    border-radius: 45px;
    border-color: black;
    border: 1px solid #191A23;
    display: flex;
    box-shadow: 0px 4px #191A23;
}

.setochka-2 {
    width: 387px;
    height: 331px;
    background-color: #ffffff;
    border-radius: 45px;
    border-color: black;
    border: 1px solid #191A23;
    display: flex;
    box-shadow: 0px 4px #191A23;
}

.setochka-3 {
    width: 387px;
    height: 331px;
    background-color: #ffffff;
    border-radius: 45px;
    border-color: black;
    border: 1px solid #191A23;
    display: flex;
    box-shadow: 0px 4px #191A23;
}

.setochka_content {
    position: relative;
    width: 317px;
    height: 227px;
    padding: 40px 35px 0 35px;
}

.verx {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 20px;
    width: 317px;
    height: 102px;
    margin-bottom: 56px;
}

.ssetka-img {
    width: 106px;
    height: 103px;
}

.setka-logo {
    width: 34px;
    position: absolute;
    top: 0; /* Прижимает к верхнему краю */
    right: 0;
}

.podpodpod {
    width: 148px;
    height: 49px;
}

.name-1 {
    bottom: 23px;
    position: absolute;
    font-weight: bold;
}

.pod-name-1 {
    position: absolute;
    bottom: 0;
    width: 148px;
    height: 23px;
}

.niz {
    width: 317px;
    height: 69px;
}

.name-2 {
    position: absolute;
    font-weight: bold;
    bottom: 23px;
}

.pod-name-2 {
    position: absolute;
    bottom: 0;
    width: 194px;
    height: 23px;
}

.name-3 {
    font-weight: bold;
    position: absolute;
    bottom: 23px;
}

.pod-name-3 {
    position: absolute;
    bottom: 0;
    width: 183px;
    height: 23px;
}

.name-5 {
    font-weight: bold;
    position: absolute;
    bottom: 46px;
}

.pod-name-5 {
    position: absolute;
    bottom: 0;
    width: 194px;
    height: 46px;
}

.setka-button {
    font-size: 20px;
    font-weight: lighter;
    text-align: center;
    padding: 20px 35px;
    height: 68px;
    width: 100%;
    max-width: 269px;
    display: block;
    color: #FFFFFF;
    background-color: #191A23;
    border-radius: 14px;
}

.container_f {
    max-width: 1365px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 60px 0px 0px 0px;
}

.footer__obsh {
    background-color: #191A23;
    border-radius: 45px 45px 0 0;
    height: 514px;
    width: 1241px;
}

.footer-verx {
    padding: 50px 60px 0 60px;
}

.footer__top-inner {
    width: 1121px;
    height: 30px;
    gap: 155px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 66px;
}

.footer_logo {
    width: 180px;
}

.flogo__link {
    display: flex;
    align-items: center;
    gap: 11px;
}

.flogo__text {
    font-size: 40px;
    font-weight: 600;
    color: #FFFFFF; 
}

.footer__navigation {
    width: 501px;
    height: 23px;
}

.footer__navig {
    display:flex;
    gap: 40px;
    justify-content: space-between;
    align-items: center;
}

.footer__navigation-item {
    padding: 3.5px 0;
}

.footer__navigation-link {
    color: #ffffff;
    font-size: 18px;
}

.social_m {
    width: 130px;
    display:flex;
    gap: 20px;
}

.sled__inner {
    width:1120px;
    height: 185px;
    display: flex;
    flex-direction: row;
    gap: 154px;
}

.pravo_infa {
    width: 332px;
    height: 185px;
    color:#FFFFFF;
    display: flex;
    flex-direction: column;
    gap: 27px;
}

.podpis-verx {
    font-size: 20px;
    font-weight: 500;
    width: 126px;
    height: 26px;
    color: #000000;
    background-color: #B9FF66;
    border-radius: 7px;
    display: flex;
    padding: 0 7px 0 7px;
}

.podpis_niz {
    display: flex;
    gap: 27px;
    flex-direction: column;
}

.pod_niz1 {
    width: 228px;
    height: 28px;
}

.pod_niz2 {
    width: 185px;
    height: 23px;
}

.pod_niz3 {
    width: 332px;
    height: 46px;
}

.levo_infa {
    background-color: #292A32;
    display: flex;
    gap: 20px;
    border-radius: 14px;
    padding: 58px 40px;
    width: 634px;
    height: 184px;
}

.pervaya-knopka {
    padding: 22px 35px;
    width: 285px;
    height: 67px;;
    border-radius: 14px;
    border: 1px solid #ffffff;
    color:#FFFFFF
}

.vtoraya-knopka {
    padding: 20px 35px;
    width: 249px;
    height: 68px;;
    border-radius: 14px;
    background-color: #B9FF66;
    color:#000000;
    font-size: 20px;
}